
  .footer-bottom{
    background: #ffffff;
    border-top: 1px solid #efefef;
    color: #333333;
    padding: 15px 0px;


    .social{
      margin-left: 50px;
      a{
        padding-right: 35px;
        font-size: 29px;
      }
    }
  }
