<div class="footer-bottom d-flex flex-column">
  <div class="copyright opacity mx-auto">
      <p>© Copyright
          <script>document.write(new Date().getFullYear())</script>2023 aquatraders.com.au All rights reserved.
      </p>
  </div>
  <div class="social1 mx-auto">
      <a href="mailto:info@aquatraders.com.au" class="me-9"><img src="../../assets/icons/Icon material-email.svg" alt="mail icon"></a>
      <a href="https://facebook.com/aquatradersau" target="_blank" class="me-9"><img src="../../assets/icons/fb.svg" alt="facebook icon"></a>
      <a href="https://www.instagram.com/aquatradersau/" target="_blank" class="me-9"><img src="../../assets/icons/insta.svg" alt="instagram icon"></a>
  </div>
</div>
