:host::ng-deep .nsm7Bb-HzV7m-LgbsSe {
    background-color: transparent;
    border: 1px solid var(--kt-input-border-color);
}
.bg-big-img{
  background-color: rgba(0, 0, 0, 0.8);
}

asl-google-signin-button {
  justify-content: center;
  display: flex;
}
